<div class="media-show-container">
    <div class="back-icon">
      <%= link_to issue_path(@issue) do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>

  <div class="media-show-hero">
    <% if @media.cover_image.present? %>
      <%= image_tag @media.cover_image_url %>
    <% end %>
  </div>
  <div class="media-content">
    <div class="media-header">
      <h2><%= @media.title %></h2>
      <p>
        <% @media.users.each do |author| %>
          <%= author.first_name %> <%= author.last_name %>
        <% end %>
      </p>
      <p>
        <%= @media.blurb %>
      </p>
    </div>
    <section class="media-main">
      <% if @media.content.present? %>
        <%= sanitize @media.content %>
      <% end %>
    </section>
    <div class="back">
      <h6>
        <%= link_to issue_path(@issue) do %>
        Back to <span class="red-text">Issue</span>
        <% end %>
      </h6>
    </div>
  </div>
</div>
