<div class="issue-show-container">
  <div class="cover-image">
    <%= image_tag(@issue.cover_image_url) %>

  </div>
  <div class="media-card-container">
<!--     <div class="issue-nav">

    </div> -->
    <% @issue.medias.each do |media| %>
      <div class="media-card">
        <div class="media-cover-img">
          <% if media.cover_image.present? %>
            <%= image_tag media.cover_image_url %>
          <% end %>
        </div>
        <div class="media-card-content">
          <h6 class="date"><%= media.date_published.strftime('%d %b, %Y') %></h6>

          <h2>
            <%= link_to issue_media_path(@issue, media) do %>
              <span class="media-title"><%= media.title %></span>
            <% end %>
          </h2>

          <h6 class="author">by <strong><%= media.users.first.first_name %> <%= media.users.first.last_name %></strong></h6>
          <p class="blurb"><%= media.blurb %></p>
        </div>
      </div>
    <% end %>

    <h6 class="back">Return to Issue</h6>
  </div>
</div>
