<div class="admin">

  <div class="admin-section admin-issues">
    <h4>
      <span class="underline">Recent Issues</span>
      <div>
        <%= link_to new_admin_issue_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    </h4>
    <% unless @issues.empty? %>
      <% @issues.reverse.each do |issue| %>
        <div class="admin-card admin-issue-card">
          <h6><%= issue.title %></h6>
          <div class="buttons">
            <%= link_to 'Edit', edit_admin_issue_path(issue), class: 'btn-edit' %>
            <%= link_to admin_issue_path(issue), method: :destroy do %>
              <i class="far fa-trash-alt"></i>
              <!-- <i class="fas fa-trash"></i> -->
            <% end %>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="admin-section admin-medias">
    <h4>
      <span class="underline">Recent Media</span>
      <div>
        <%= link_to new_admin_media_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    </h4>
    <% unless @medias.empty? %>
      <% @medias.reverse.each do |media| %>
        <div class="admin-card admin-media-card">
          <h6><%= media.title %></h6>
          <div class="buttons">
            <span class="issue">
              <%= media.issue.title %>
            </span>
            <%= link_to 'Edit', edit_admin_media_path(media), class: 'btn-edit button' %>
            <%= link_to admin_media_path(media), method: :delete do %>
              <i class="far fa-trash-alt"></i>
              <!-- <i class="fas fa-trash"></i> -->
            <% end %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>

</div>
