<div class="row" id="form-container" style="height: 100vh;">
  <div class="col-6 col-lg-6">

    <div class="admin-container">
      <div class="form-container">
        <h2 class="form-h2">Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="login-form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div id="form-cta">
            <%= f.button :submit, "Send me reset password instructions", class: "btn btn-ninetwenty"  %>
          </div>
        <% end %>
        <div id="form-cta">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

  </div>
  <div class="col-6 login-bg">
    <div class="color-filter"></div>
  </div>
</div>
