<div class="wide-nav">
  <div>
    <div class="logo-container" style="background-image: url(<%= image_path 'ninetwenty-logo.png' %>)">
    </div>
    <ul>
      <li><%= link_to 'issues', root_path %></li>
      <li><%= link_to 'podcasts', '#' %></li>
      <li><%= link_to 'news', '#' %></li>
      <li><%= link_to 'about', '#' %></li>
      <li><%= link_to 'contact', '#' %></li>
    </ul>
  </div>
  <div class="social-container">
    <ul class="social-list">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter"></i></li>
    </ul>
  </div>
</div>

