<div class="admin-container">
  <h1>Registered Users</h1>
  <% @users.each do |user| %>
    <div class="admin-card user-card">
      <div class="user-details">
        <h6>
          <span
            <% if user.id == current_user.id %>
            class="current-user"
            <% end %>>
            <%= user.first_name %>
            <%= user.last_name %>
          </span>
        </h6>
        <p><%= user.email %></p>
      </div>

      <div class="buttons">
        <%= link_to 'Edit', admin_edit_user_path(user.id), class: 'btn-edit button' %>
        <%= link_to admin_delete_user_path(user), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
