<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ninetwenty</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.typekit.net/fak0qyj.css">

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if params[:controller] == 'issues' && params[:action] == 'index' %>
      <%= render 'shared/sidenav_wide' %>
      <div class="page-content-wide">
        <%= yield %>
      </div>
    <% elsif params[:controller][0...6] == 'admin/' %>
      <%= render 'shared/admin_nav' %>
      <div class="page-content-wide">
        <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/sidenav_slim' %>
      <div class="page-content-slim">
        <%= yield %>
      </div>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
